.aboutus{
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 397px;
    position: relative;
}

.first {
    display: flex;
    flex-direction: row;
    height: 397px;
    width: 800px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 59.61%, rgb(0, 0, 0) 100%), url(../img/first.svg);
    background-size: cover;
    position: relative;
  }
  
  .overfirst {
    left: 200px;
    color: #ffffff;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 26px;
    font-weight: 600;
    margin-top: 60px;
  }
  
  .oversec {
    left: 200px;
    right: 270px;
    color: #ffffff;
    margin-top: 120px;
  }
   

.second{
    
        background: linear-gradient(180deg, rgba(199, 32, 39, 0.1) 0%, rgba(199, 32, 39, 0.7) 59.61%, rgb(199, 32, 39) 100%),url(../img/second.svg);
        height: 397px;
        left: 0;
        background-size: cover;
        position: relative;
        top: 0;
        width: 800px;
}
.apply{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 50px;
    margin-top: 120px;
    margin-right: 170px;
    cursor: pointer;
}
.apply p {
  margin-left: 7px; 
  white-space: nowrap;
  color: white;
  cursor: pointer;
}

.oversecond{
  color: #ffffff;
font-family: "Poppins-SemiBold", Helvetica;
font-size: 26px;
font-weight: 600;
top: 228px;
left: 70px;
right: 400px;
height: 57px;
width: 330px;
}
.overflow{
  height: 40px;
width: 330px;
left: 70px;
right: 400px;
top: 307px;
bottom: 50px;
font-size: 19px;
font-weight: 400;
line-height: 27px;
font-family: "Varela-Regular", Helvetica;
}
.last{
  display: flex;
  flex-direction: row;
  height: 30px;
  flex-wrap: nowrap;
  align-items: flex-start;
  top: 517px;
  margin-top: 322px;
  margin-left: 422px;
  cursor: pointer;
}
.last p{
  height: 13px;
width: 114px;
font-stretch: expanded;
color: #ffffff;
font-family: "Poppins-Medium", Helvetica;
font-size: 18px;
font-weight: 500;
margin-left: 14px;
cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .overfirst {
    font-size: 20px;
  }

  .oversec,
  .oversecond,
  .overflow {
    font-size: 16px;
  }

  .apply p,
  .last p {
    font-size: 14px;
  }
}
